     body { background: #fff }
      
rect:hover {
  fill: rgba(100, 100, 100, 0.8);
}



.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(100, 100, 100, 0.8);
  color: white;
  border-radius: 5px;
  z-index: 3000;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(100, 100, 100, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
   z-index: 3000; 
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  z-index: 3000;
}
		
		.yaxis path,
		.yaxis line {
			fill: none;
			stroke: black;
			shape-rendering: crispEdges;
		}
		
		.yaxis text {
			font-family: sans-serif;
			font-size: 11px;
		}
		

		.xaxis path,
		.xaxis line {
			fill: none;
			stroke: black;
			shape-rendering: crispEdges;
		}
		
		.xaxis text {
			font-family: sans-serif;
			font-size: 11px;
		}

		
		.grid .tick {
			stroke: lightgrey;
			opacity: 0.7;
		}
		
		.grid path {
			stroke-width: 0;
		}
		


		#mainsvg{
		position: absolute;
		top: 99px;
		left: 9px;
		outline: #000 solid 2px;
		}
		
		
		#year{
		position: absolute;
		top: 50px;
		left: 880px;
		z-index: 100;
					font-family: sans-serif;
			font-size: 40px;	
		}
		
		
		#title{
		position: absolute;
		top: 50px;
		left: 480px;
		z-index: 100;
					font-family: sans-serif;
			font-size: 40px;	
		}
		
#abutton{
  position: absolute;
  top: 32px;
  left: 300px;
}
      
      #dlvideo{
          position: absolute;
  top: 59px;
  left: 300px;
      }

.ui-selectmenu-button span.ui-selectmenu-text{
		font-size: 10px !important;
		}
		
.ui-menu-item {
		font-size: 10px !important;
}
		
		#aselect{
		width: 120px;
		}
		
		#ayear{
		width: 120px;

		}

		.bclass{
		font-size: 10px !important;
      width: 120px;
		}
		

		
  .overflow { height: 200px; }
  
  
  #controls {
	position: absolute;
	top: 32px;
	left: 10px;
	width: 450px;
  }
  
  #leg{
  position: absolute;
  top: 610px;
  left: 8px;
  }

  .fsc{
    font-size: 12px;
  }
      